.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 28;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #8b8ae1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
  }

  & button:hover {
    opacity: 0.7;
  }

  & input {
    border: 1px solid #48456c;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 18px;
    padding-left: 10px;
    outline:none; 
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & p {
    color: #fff;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }

  & button {
    background-color:transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover{
    opacity: 0.5;
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */